ul {
    list-style:none; 
    list-style-type:none; 
    list-style-image:none;
}

hr {
    margin-right: 30px;
}

header { 
    background-color: #f8f8ff;             
    height: 150px;
    width:100%;
    text-align: center;
}

#wrapper { 
    margin: auto;
    margin-left: 200px;
    margin-right: 200px;
} 

#headnevigation { 
    margin: auto;
    margin-left: 200px;
    margin-right: 200px;
    background-color: #f1f1f1; 
} 

#leftcolumn { 
    float: left;
    width: 200px;
    height: 1500px;
    background-color: #f1f1f1; 	  			 
}

#rightcolumn { 
    margin-left: 220px;
    height: 500px;
    background-color: #ffffff; 
} 

.content {
    padding: 10px 0px 0px 10px;
} 

#righttxt{
    color: #792A1F;
}

tr img{
    width: 100%;
    height: 200px;
    border-radius: 5px 5px 0 0;
}

#explaintxt {
    font-size: 0.95em;
    color: #3a3a3a;

}